body {
    margin: 0;
    padding: 0;
    background-color: #1b1e1f;
    color: white;
}

header {
    color: white;
}

footer {
    color: white;
    padding: 25px 0;
    text-align: center;
}

main {
    padding: 50px;
    min-height: 80vh;
}
